@charset "UTF-8";
*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
background-color: #c0c0c0;	
}

.box{
	height:300px;
	width:500px;
	border: 2px solid black;
	margin: 100px auto;
	border-radius: 20px;
	box-shadow: 2px 2px 10px black;
	background-color: skyblue;
}
.box-child1{
	height:40px;
	width:400px;
	margin: 30px auto;
	font-size:30px;	
	padding-left:10px;
	background-color:red;
	border-radius: 20px;
	box-shadow: 2px 2px 10px black;
}
input {
	font-size: 20px;
	border-radius: 10px;
	background-color: red;
}
button{
	height: 50px;
	width: 245px;
	border-radius: 20px;
	font-size: 30px;
	background-color: #80ff80;
}